<!doctype html>
<html lang="en">
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <link href="https://cdn.datatables.net/1.12.0/css/dataTables.bootstrap5.min.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>

        <script src="https://cdn.datatables.net/1.12.0/js/dataTables.bootstrap5.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <link href= "https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet">

        <title>MDM SANTOMAS VIỆT NAM</title>
        <!-- socket.io -->
        <script src = "socket.io/socket.io.js"></script>
        <script>
            var socket = io("http://192.168.1.27:3000"); // IP tĩnh (hoặc IP động, hoặc localhost)
        </script>

    </head>

    <body>
        <header>
            <!-- place navbar here -->
            <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">
                <label style="font-weight:bolder ; color: red;"><p style="margin-block-start: 0em; margin-block-end: 0em; margin-right: 1em">CÔNG TY SANTOMAS VIỆT NAM JSC</p><p style="margin-block-start: 0em; margin-block-end: 0em">Phần mềm đo tự động</p></label>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                    aria-expanded="false" aria-label="Toggle navigation"></button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        
                        <li class="nav-item active">
                            <form method="GET" action="/tool" class="form-inline my-2 my-lg-0">
                                <button class="btn btn-secondary btn-lg" type="submit" style="margin-right: 0.5em;">TOOLS</button>
                            </form>
                        </li>

                        <li class="nav-item active">
                            <form method="GET" action="/manager" class="form-inline my-2 my-lg-0">
                                <button class="btn btn-secondary btn-lg" type="submit" style="margin-right: 0.5em;">USERS</button>
                            </form>
                        </li>

                        <li class="nav-item active">
                            <form method="GET" action="/partData" class="form-inline my-2 my-lg-0">
                                <button class="btn btn-secondary btn-lg" type="submit" style="margin-right: 0.5em;">PART DATA</button>
                            </form>
                        </li>

                        <li class="nav-item active">
                            <form method="GET" action="/measuare" class="form-inline my-2 my-lg-0">
                                <button class="btn btn-secondary btn-lg" type="submit" style="margin-right: 0.5em;">MEASUARE</button>
                            </form>
                        </li>

                        <li class="nav-item active">
                            <form method="GET" action="/checkSheet" class="form-inline my-2 my-lg-0">
                                <button class="btn btn-secondary btn-lg" type="submit" style="margin-right: 0.5em;">CHECK SHEET</button>
                            </form>
                        </li>
                        

                        

                    </ul>
                    
                </div>
            </nav>
            <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #c1cad0;">
                
                <div class="collapse navbar-collapse" id="collapsibleNavId1">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        
                        <li class="nav-item active">
                            <form  method="GET" action="/partData/PartChild" class="form-inline my-2 my-lg-0">
                                <input type="hidden" id="pc_sc" name="partId" >
                                <button class="btn btn-secondary btn-lg" id="btt_pc" type="submit" style="margin-right: 0.5em;">Part data</button>
                                

                            </form>
                        </li>

                        <li class="nav-item active">
                            <form method="GET" action="/partData/acheckpoint" class="form-inline my-2 my-lg-0">
                                <input type="hidden" id="pc_sc1" name="partId" >
                                <button class="btn btn-secondary btn-lg" type="submit" style="margin-right: 0.5em;">Appearance checkpoint</button>
                            </form>
                        </li>

                        <li class="nav-item active">
                            <form method="GET" action="/partData/bcheckpoint" class="form-inline my-2 my-lg-0">
                                <input type="hidden" id="pc_sc2" name="partId" >
                                <button class="btn btn-secondary btn-lg" type="submit" style="margin-right: 0.5em;">Dimension checkpoint</button>
                            </form>
                        </li>

                        <li class="nav-item active">
                            <form method="GET" action="/partData/revision" class="form-inline my-2 my-lg-0">
                                <input type="hidden" id="pc_sc3" name="partId" >
                                <button class="btn btn-secondary btn-lg" type="submit" style="margin-right: 0.5em;">Revision</button>
                            </form>
                        </li>
                        

                    </ul>
                    
                </div>
            </nav>
            
        </header>
        <main>
            <div class="container" style="padding-left: 0rem; padding-right: 0rem; margin-left: 150px; margin-right: 150px;">
                <h1 class="mt-4 mb-4 text-center text-primary"><b></b></h1>
                
                <span id="message_part"></span>
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col col-sm-9">Appearance Checkpoint</div>
                            <div class="col col-sm-3">
                                <button type="button" id="add_partdata" class="btn btn-success btn-sm float-end">Add</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-compact hover" id="part_data_child_table_1" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Item No</th>
                                        <th>Check content</th>
                                        <th >Specs</th>
                                        <th>Tool</th>
                                        <th>ENG</th>
                                        <th>Supporting Jig</th>
                                        <th>QA</th>
                                        <th>QA Sample Size</th>
                                        <th>QA Frequence</th>
                                        <th>IQPC</th>
                                        <th>IQPC Sample Size</th>
                                        <th>IQPC Frequence</th>
                                        <th>OQC</th>
                                        <th>OQC Sample Size</th>
                                        <th>OQC Frequence</th>
                                        
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            
            
        </main>
        <footer>
            <!-- place footer here -->
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>

<div class="modal" tabindex="-1" id="partchild_action_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" url="http://localhost:3000/partData/PartChild/:id/action" body="partDataJson" id="partdata_form">
                <div class="modal-header" id="partchild_dynamic_modal_title">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>    
                </div>
                <div class="modal-body" >
                    <div class="col-12">
                        <label class="visually-hidden" for="item_no">Item No</label>
                        <div class="input-group">
                        <div class="input-group-text">Item No</div>
                        <input type="text" class="form-control" name="item_no" id="item_no" >
                    </div>
                    </div> </p>

                    <div class="col-12">
                        <label class="visually-hidden" for="check_content">Check content</label>
                        <div class="input-group">
                        <div class="input-group-text">Check content</div>
                        <input type="text" class="form-control" name="check_content" id="check_content" >
                    </div>
                    </div> </p>

                    <div class="col-12"> 
                        <label class="visually-hidden" for="specs">Specs</label>
                        <div class="input-group">
                        <div class="input-group-text">Specs</div>
                        <input type="text" class="form-control" name="specs" id="specs" >
                    </div>
                    </div></p>
                
                    <div class="col-12"> 
                        <label class="visually-hidden" for="specs">Tool</label>
                        <div class="input-group">
                        <div class="input-group-text">Tool</div>
                        <input type="text" class="form-control" name="tool" id="tool" >
                    </div>
                    </div></p>

                    <div class="col-12">
                        <label class="visually-hidden" for="sp_jig">Supporting Jig</label>
                        <div class="input-group">
                        <div class="input-group-text">Supporting Jig</div>
                        <input type="text" class="form-control" name="sp_jig" id="sp_jig" >
                    </div>
                    </div></p>


                    <div class="mb-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="eng5" id="eng5" value="true">
                            <label class="form-check-label" for="eng">ENG</label>
                        </div>
                    </div>
                    <div class="mb-3">
                            <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="true" name="qa"  id="qa">
                             <label class="form-check-label" for="inlineCheckbox2">QA</label>
                        </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="qa_size"  id="qa_size" value="true" >
                                <label class="form-check-label" for="inlineCheckbox3">QA Sample Size</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="qa_frequence" id="qa_frequence" value="true">
                                <label class="form-check-label" for="inlineCheckbox1">QA frequence</label>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="true" name="iqpc"  id="iqpc">
                            <label class="form-check-label" for="inlineCheckbox2">IQPC</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="iqpc_size"  id="iqpc_size" value="true" >
                            <label class="form-check-label" for="inlineCheckbox3">IQPC Sample Size</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="iqpc_frequence" id="iqpc_frequence" value="true">
                            <label class="form-check-label" for="inlineCheckbox1">IQPC Frequence</label>
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="true" name="oqc"  id="oqc">
                            <label class="form-check-label" for="inlineCheckbox2">OQC</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="oqc_size"  id="oqc_size" value="true" >
                            <label class="form-check-label" for="inlineCheckbox3">OQC Sample Size</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="oqc_frequence"  id="oqc_frequence" value="true" >
                            <label class="form-check-label" for="inlineCheckbox3">OQC Frequence</label>
                        </div>

                    </div>
                    

                </div>

                <div class="modal-footer">
                    <input type="hidden" name="id" id="id" />
                    <input type="hidden" name="partid" id="partid" />
                    <input type="hidden" name="actionpc" id="actionpc" value="addPart" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary " id="action_buttonac" >Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
   $('#checkbox-value').text($('#checkbox1').val());

    $("#checkbox1").on('change', function() {
    if ($(this).is(':checked')) {
        $(this).attr('value', 'true');
        var i = document.getElementById(checkbox1);
        $('#aa').val(i);
    } else {
        $(this).attr('value', 'false');
    }
    
    $('#checkbox-value').text($('#checkbox1').val());
    });
        
    $(document).ready(function(){
        // var id = window.location.pathname.slice(10);
        const urlValue= window.location.search;
        const urlParams = new URLSearchParams(urlValue);
        const id = urlParams.get('partId');

        $('#pc_sc').val(id);
        $('#pc_sc1').val(id);
        $('#pc_sc2').val(id);
        $('#pc_sc3').val(id);
        $('#partid').val(id);
        //$('#id').val(id);
        
        load_datapart_child();
        function load_datapart_child()
        {
           
            $.ajax({
                // url:  "http://localhost:3000" + window.location.pathname+ "/actionac",
                url:  "http://192.168.1.27:3000" + window.location.pathname+ "/actionac",
                method:"POST",
                data:{id:id, actionpc:'getAllPart'},
                dataType : "JSON",
                success:function(data){
                    
                
                
                    var html = '';
                    
                    for(var count = 0; count < data.data.recordset.length; count++)
                    {     
                        var ac= data.data.recordset[count].Tool;
                        if (ac == null){var bd="";}
                        else {var bd= data.data.recordset[count].Tool;}

                        var a1= data.data.recordset[count].Specs;
                        if (a1 == null){var b1="";}
                        else {var b1= data.data.recordset[count].Specs;}

                        var ac= data.data.recordset[count].Tool;
                        if (ac == null){var bd="";}
                        else {var bd= data.data.recordset[count].Tool;}

                        var ad= data.data.recordset[count].Check_content;
                        if (ad == null){var be="";}
                        else {var be= data.data.recordset[count].Check_content;}

                        var a= data.data.recordset[count].QA;
                        if (a == null){var b="";}
                        else if (a == false){var b="";}
                        else {var b= data.data.recordset[count].QA;}

                        var ab= data.data.recordset[count].QA_Sample_size;
                        if (ab == null){var bc="";}
                        
                        else {var bc= data.data.recordset[count].QA_Sample_size;}

                        var ba= data.data.recordset[count].QA_Frequence;
                        if (ba == null){var cd="";}
                        else {var cd= data.data.recordset[count].QA_Frequence;}

                        var a2= data.data.recordset[count].Eng;
                        if (a2 == null){var b2="";}
                        else if (a2 == false){var b2="";}
                        else {var b2= data.data.recordset[count].Eng;}

                        var a3= data.data.recordset[count].Sp_Jig;
                        if (a3 == null){var b3="";}
                        else {var b3= data.data.recordset[count].Sp_Jig;}

                        var a4= data.data.recordset[count].IQPC;
                        if (a4 == null){var b4="";}
                        else if (a4 == false){var b4="";}
                        else {var b4= data.data.recordset[count].IQPC;}

                        var a5= data.data.recordset[count].IQPC_Sample_size;
                        if (a5 == null){var b5="";}
                        else {var b5= data.data.recordset[count].IQPC_Sample_size;}

                        var a6= data.data.recordset[count].IQPC_Frequence;
                        if (a6 == null){var b6="";}
                        else {var b6= data.data.recordset[count].IQPC_Frequence;}

                        var a7= data.data.recordset[count].OQC;
                        if (a7 == null){var b7="";}
                        else if (a7 == false) {var b7="";}
                        else {var b7= data.data.recordset[count].OQC;}

                        var a8= data.data.recordset[count].OQC_Sample_size;
                        if (a8 == null){var b8="";}
                        else {var b8= data.data.recordset[count].OQC_Sample_size;}
                       
                        var a9= data.data.recordset[count].OQC_Frequence;
                        if (a9 == null){var b9="";}
                        else {var b9= data.data.recordset[count].OQC_Frequence;}
                            html += `
                            <tr>
                                <td><button type="button" class="btn btn-warning btn-sm edit" data-id="`+data.data.recordset[count].Id+`">Edit</button>&nbsp;<button type="button" class="btn btn-danger btn-sm delete" data-id="`+data.data.recordset[count].Id+`">Delete</button>
                                <td>`+data.data.recordset[count].Item_No+`</td>
                                <td>`+ad+`</td>
                                <td>`+b1+`</td>                    

                                <td>`+bd+`</td>
                                <td>`+b2+`</td>
                                <td>`+b3+`</td>
                                <td>`+b+`</td>
                                <td>`+bc+`</td>
                                <td>`+cd+`</td>
                                <td>`+b4+`</td>
                                <td>`+b5+`</td>
                                <td>`+b6+`</td>
                                <td>`+b7+`</td>
                                <td>`+b8+`</td>
                                <td>`+b9+`</td>
                            </tr>
                            `;

                    $('#part_data_child_table_1 tbody').html(html);
                }
            
              
                }
            });
        }
        $('#add_partdata').click(function(){  
            
            

            $('#partdata_dynamic_modal_title').text('Add Part');

            $('#partdata_form')[0].reset();

            $('#actionpc').val('addPart');

            $('#action_buttonac').text('addPart');

            $('#partchild_action_modal').modal('show');
            

        });

        $('#partdata_form').on('submit', function(event){

            event.preventDefault();             
            
            $.ajax({
                // url:"http://localhost:3000" + window.location.pathname+ "/actionac",
                url:  "http://192.168.1.27:3000" + window.location.pathname+ "/actionac",
                method:"POST",
                data:$('#partdata_form').serialize(),
                dataType:"JSON",
                beforeSend:function(){
                    $('#action_buttonpartdata').attr('disabled', 'disabled');
                    
                },
                success:function(data)
                {

                    $('#action_buttonac').attr('disabled', false);

                    $('#message_part').html('<div class="alert alert-success">'+data.message+'</div>');

                    $('#partchild_action_modal').modal('hide');

                    load_datapart_child();

                    setTimeout(function(){
                        $('#message_part').html('');
                    }, 5000);
                }
            });

            });
            $(document).on('click', '.edit', function(){
                var id = $(this).data('id');

                

                $('#partdata_dynamic_modal_title').text('Edit Part');

                $('#actionpc').val('editPart');

                $('#action_buttonac').text('EditPart');

                $('#partchild_action_modal').modal('show');
                

                $.ajax({
                    // url:"http://localhost:3000" + window.location.pathname+ "/actionac",
                    url:  "http://192.168.1.27:3000" + window.location.pathname+ "/actionac",
                    method:"POST",
                    data:{id:id, actionpc:'getOnePart'},
                    dataType:"JSON",
                    success :function(data)
                    {
                        
                        $('#mold_no').val(data.Mold_No);
                        $('#name_part').val(data.Name_part);
                        $('#part_no').val(data.Part_no);
                        $('#factory_p').val(data.Factory);
                        $('#dia_no').val(data.Dia_no);
                        
                        $('#id').val(id);
                    }
                });

                });
                $(document).on('click', '.delete', function(){

                    var id = $(this).data('id');

                    if(confirm("Are you sure you want to delete this data?"))
                    {
                        $.ajax({
                            // url:"http://localhost:3000" + window.location.pathname+ "/actionac",
                            url:  "http://192.168.1.27:3000" + window.location.pathname+ "/actionac",
                            method:"POST",
                            data:{actionpc:'deletePart', id:id},
                            dataType:"JSON",
                            success:function(data)
                            {
                                $('#message_part').html('<div class="alert alert-success">'+data.message+'</div>');
                                load_datapart_child();
                                setTimeout(function(){
                                    $('#message_part').html('');
                                }, 5000);
                            }
                        });
                    }

                    });
    });



    

</script>