<!doctype html>
<html lang="en">
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <link href="https://cdn.datatables.net/1.12.0/css/dataTables.bootstrap5.min.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>

        <script src="https://cdn.datatables.net/1.12.0/js/dataTables.bootstrap5.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
        <link href= "https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet">

        <title>MDM SANTOMAS VIỆT NAM</title>

    </head>

    <body>
        <header>
            <!-- place navbar here -->
            <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">
                <label style="font-weight:bolder ; color: red;"><p style="margin-block-start: 0em; margin-block-end: 0em; margin-right: 1em">CÔNG TY SANTOMAS VIỆT NAM JSC</p><p style="margin-block-start: 0em; margin-block-end: 0em">Phần mềm đo tự động</p></label>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                    aria-expanded="false" aria-label="Toggle navigation"></button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        
                        <li class="nav-item active">
                            <form method="GET" action="/tool" class="form-inline my-2 my-lg-0">
                                <button class="btn btn-secondary btn-lg" type="submit" style="margin-right: 0.5em;">TOOLS</button>
                            </form>
                        </li>

                        <li class="nav-item active">
                            <form method="GET" action="/manager" class="form-inline my-2 my-lg-0">
                                <button class="btn btn-secondary btn-lg" type="submit" style="margin-right: 0.5em;">USERS</button>
                            </form>
                        </li>

                        <li class="nav-item active">
                            <form method="GET" action="/partData" class="form-inline my-2 my-lg-0">
                                <button class="btn btn-secondary btn-lg" type="submit" style="margin-right: 0.5em;">PART DATA</button>
                            </form>
                        </li>

                        <li class="nav-item active">
                            <form method="GET" action="/measuare" class="form-inline my-2 my-lg-0">
                                <button class="btn btn-secondary btn-lg" type="submit" style="margin-right: 0.5em;">MEASUARE</button>
                            </form>
                        </li>

                        <li class="nav-item active">
                            <form method="GET" action="/checkSheet" class="form-inline my-2 my-lg-0">
                                <button class="btn btn-secondary btn-lg" type="submit" style="margin-right: 0.5em;">CHECK SHEET</button>
                            </form>
                        </li>

                        

                    </ul>
                    
                </div>
            </nav>
            <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #c1cad0;">
                
                <div class="collapse navbar-collapse" id="collapsibleNavId1">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        
                        <li class="nav-item active">
                            <form  method="GET" action="/partData/PartChild" class="form-inline my-2 my-lg-0">
                                <input type="hidden" id="pc_sc" name="partId" >
                                <button class="btn btn-secondary btn-lg" id="btt_pc" type="submit" style="margin-right: 0.5em;">Part data</button>
                                

                            </form>
                        </li>

                        <li class="nav-item active">
                            <form method="GET" action="/partData/acheckpoint" class="form-inline my-2 my-lg-0">
                                <input type="hidden" id="pc_sc1" name="partId" >
                                <button class="btn btn-secondary btn-lg" type="submit" style="margin-right: 0.5em;">A checkpoint</button>
                            </form>
                        </li>

                        <li class="nav-item active">
                            <form method="GET" action="/partData/bcheckpoint" class="form-inline my-2 my-lg-0">
                                <input type="hidden" id="pc_sc2" name="partId" >
                                <button class="btn btn-secondary btn-lg" type="submit" style="margin-right: 0.5em;">B check point</button>
                            </form>
                        </li>

                        <li class="nav-item active">
                            <form method="GET" action="/partData/revision" class="form-inline my-2 my-lg-0">
                                <input type="hidden" id="pc_sc3" name="partId" >
                                <button class="btn btn-secondary btn-lg" type="submit" style="margin-right: 0.5em;">MEASUARE</button>
                            </form>
                        </li>
                        

                    </ul>
                    
                </div>
            </nav>
            
        </header>
        <main>
            <div class="container">
                <h1 class="mt-4 mb-4 text-center text-primary"><b></b></h1>
                
                <span id="message_part"></span>
                <div class="card">

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-compact " id="part_data_child_table_1">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Item No</th>
                                        <th>Check content</th>
                                        <th >Specs</th>
                                        <th>Tool</th>
                                        <th>ENG</th>
                                        <th>Supporting Jig</th>
                                        <th>QA</th>
                                        <th>QA Sample Size</th>
                                        <th>QA Frequence</th>
                                        <th>IQPC</th>
                                        <th>IQPC Sample Size</th>
                                        <th>IQPC Frequence</th>
                                        
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            
            
        </main>
        <footer>
            <!-- place footer here -->
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>

<div class="modal" tabindex="-1" id="partchild_action_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" url="http://localhost:3000/partData/PartChild/:id/action" body="partDataJson" id="partdata_form">
                <div class="modal-header" id="partchild_dynamic_modal_title">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>    
                </div>
                <div class="modal-body" >
                    <div class="mb-3">
                        <label class="form-label">Customer</label>
                        <input type="text" name="customer"  id="customer" class="form-control" value="" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Model</label>
                        <input type="text" name="model"  id="model" class="form-control" />
                    </div>
                
                    <div class="mb-3">
                        <label class="form-label">DWGrey</label>
                        <input type="text" name="dwgrey"  id="dwgrey" class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Material</label>
                        <input type="text" name="material"  id="material" class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Reg</label>
                        <input type="text" name="reg"  id="reg" class="form-control" />
                    </div>

                    <div class="mb-3" >
                        <label class="form-label">Reg</label>
                        <select  id="factory_p" name="factory_p" class="form-control">
                            <option value="SVN2">SVN2</option>
                            <option value="SVN3">SVN3</option>
                        </select>
                        
                    </div>

                </div>

                <div class="modal-footer">
                    <input type="hidden" name="id" id="id" />
                    <input type="hidden" name="add_date" id="add_date" />
                    <input type="hidden" name="actionPart" id="actionPart" value="Add" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary " id="action_buttonac" >Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    
    $(document).ready(function(){
        // var id = window.location.pathname.slice(10);
        const urlValue= window.location.search;
        const urlParams = new URLSearchParams(urlValue);
        const id = urlParams.get('partId');
        $('#pc_sc').val(id);
        $('#pc_sc1').val(id);
        $('#pc_sc2').val(id);
        $('#pc_sc3').val(id);
        load_datapart_child();
        function load_datapart_child()
        {
           
            $.ajax({
                url:  "http://localhost:3000" + window.location.pathname+ "/actionac",

                method:"POST",
                data:{actionpc:'getAllPart'},
                dataType : "JSON",
                success:function(data){
                    
                for(var count = 0; count < data.data.recordset.length; count++)
                    {
                
                    var html = '';
 
                            html += `
                            <tr>
                                <td><button type="button" class="btn btn-warning btn-sm edit" data-id="`+data.data.recordset[count].Id+`">Edit</button>&nbsp;<button type="button" class="btn btn-danger btn-sm delete" data-id="`+data.data.recordset[count].Id+`">Delete</button>
                                <td>`+data.data.recordset[0].Item_No+`</td>
                                <td>`+data.data.recordset[0].Check_content+`</td>
                                <td>`+data.data.recordset[0].Specs+`</td>                                           
                                <td>`+data.data.recordset[0].Tool+`</td>
                                <td>`+data.data.recordset[0].Eng+`</td>
                                <td>`+data.data.recordset[0].Sp_Jig+`</td>
                                <td>`+data.data.recordset[0].QA+`</td>
                                <td>`+data.data.recordset[0].QA_Sample_size+`</td>
                                <td>`+data.data.recordset[0].QA_Frequence+`</td>
                                <td>`+data.data.recordset[0].IQPC+`</td>
                                <td>`+data.data.recordset[0].IQPC_Sample_size+`</td>
                            </tr>
                            `;

                    $('#part_data_child_table_1 tbody').html(html);
                }
            
              
                }
            });
        }
    });



    

</script>