<!doctype html>
<html lang="en">
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <link href="https://cdn.datatables.net/1.12.0/css/dataTables.bootstrap5.min.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>

        <script src="https://cdn.datatables.net/1.12.0/js/dataTables.bootstrap5.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
        <link href= "https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet">

        <title>MDM SANTOMAS VIỆT NAM</title>

    </head>

    <body>
        <header>
            <!-- place navbar here -->
            <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">
                <label style="font-weight:bolder ; color: red;"><p style="margin-block-start: 0em; margin-block-end: 0em; margin-right: 1em">CÔNG TY SANTOMAS VIỆT NAM JSC</p><p style="margin-block-start: 0em; margin-block-end: 0em">Phần mềm đo tự động</p></label>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                    aria-expanded="false" aria-label="Toggle navigation"></button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        
                        <li class="nav-item active">
                            <form method="GET" action="/tool" class="form-inline my-2 my-lg-0">
                                <button class="btn btn-secondary btn-lg" type="submit" style="margin-right: 0.5em;">TOOLS</button>
                            </form>
                        </li>

                        <li class="nav-item active">
                            <form method="GET" action="/manager" class="form-inline my-2 my-lg-0">
                                <button class="btn btn-secondary btn-lg" type="submit" style="margin-right: 0.5em;">USERS</button>
                            </form>
                        </li>

                        <li class="nav-item active">
                            <form method="GET" action="/partData" class="form-inline my-2 my-lg-0">
                                <button class="btn btn-secondary btn-lg" type="submit" style="margin-right: 0.5em;">PART DATA</button>
                            </form>
                        </li>

                        <li class="nav-item active">
                            <form method="GET" action="/measuare" class="form-inline my-2 my-lg-0">
                                <button class="btn btn-secondary btn-lg" type="submit" style="margin-right: 0.5em;">MEASUARE</button>
                            </form>
                        </li>

                        <li class="nav-item active">
                            <form method="GET" action="/checkSheet" class="form-inline my-2 my-lg-0">
                                <button class="btn btn-secondary btn-lg" type="submit" style="margin-right: 0.5em;">CHECK SHEET</button>
                            </form>
                        </li>

                        

                    </ul>
                    
                </div>
                <a href="/logout" class="btn btn-primary">Đăng xuất</a>
            </nav>
        </header>
        <main>
            <div class="container">
                <h1 class="mt-4 mb-4 text-center text-primary"><b></b></h1>
                
                <span id="message_part"></span>
                <div class="card">
                   
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-compact " id="part_data_table">
                                <thead>
                                    <tr>
                                        
                                        <th>Mold No</th>
                                        <th>Part Name</th>
                                        <th>Part No</th>
                                        <th>Die No</th>
                                        <th>Factory</th>
                                        <th>Date Added</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            
        </main>
        <footer>
            <!-- place footer here -->
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>


<script>

    
    $(document).ready(function(){
        
        load_datapart();

        function load_datapart()
        {
            $.ajax({
                url:"http://localhost:3000/partData/actionPart",
                method:"POST",
                data:{actionPart:'getAllPart'},
                dataType : "JSON",
                success:function(data){
                    
                
                {
                    var html = '';
                    

                    if(data.data.recordset.length > 0)
                    {
                        
                        for(var count = 0; count < data.data.recordset.length; count++)
                        {

                            // <td><form method="get" action="/measuare/measuarePart" ><button type="submit" class="btn btn-success btn-sm open" >Open</button><input type="hidden"name="partId" value="`+data.data.recordset[count].Part_Id+`"></form></td>
                            // <td><form method="get" action="/measuare/measuarePart" ><button type="submit" class="btn btn-success btn-sm open" >Open</button><input type="hidden" name="partId" value="`+data.data.recordset[count].Part_Id+`"><input type="hidden" name="qa" value=""><input type="hidden" name="iqpc" value=""><input type="hidden" name="oqc" value=""></form></td>
                            html += `
                            <tr>
                                
                                <td>`+data.data.recordset[count].Mold_No+`</td>
                                <td>`+data.data.recordset[count].Name_part+`</td>                                           
                                <td>`+data.data.recordset[count].Part_no+`</td>
                                <td>`+data.data.recordset[count].Dia_no+`</td>
                                <td>`+data.data.recordset[count].Factory+`</td>
                                <td>`+data.data.recordset[count].Add_date+`</td>
                                <td><form method="get" action="/measuare/measuarePart" ><button type="submit" class="btn btn-success btn-sm open" >Open</button><input type="hidden"name="partId" value="`+data.data.recordset[count].Part_Id+`"></form></td>
                            
                            </tr>
                            `;
                        }
                        
                    }

                    $('#part_data_table tbody').html(html);
                    
                    }

                }
            });
        }

            $(document).on('click', '.open', function(){
                var id = $(this).data('id');
                             
                var iqpc = document.getElementById('iqpc');
                if (iqpc.checked === true){
                    iqpc = 'true';
                }
                else {
                    iqpc = 'false';
                }
                var qa = document.getElementById('qa');
                if (qa.checked === true){
                    qa = 'true';
                }
                else {
                    qa = 'false';
                }
                var oqc = document.getElementById('oqc');
                if (oqc.checked === true){
                    oqc = 'true';
                }
                else {
                    oqc = 'false';
                }
                
                              

                
                
                });
         
    })
</script>