<!doctype html>
<html lang="en">
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <link href="https://cdn.datatables.net/1.12.0/css/dataTables.bootstrap5.min.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
       
        <script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>

        <script src="https://cdn.datatables.net/1.12.0/js/dataTables.bootstrap5.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
        <link href= "https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet">
        
        <title>MDM SANTOMAS VIỆT NAM</title>
        

    </head>

    <body>
        <header>
            <!-- place navbar here -->
            <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">
                <label style="font-weight:bolder ; color: red;"><p style="margin-block-start: 0em; margin-block-end: 0em; margin-right: 1em">CÔNG TY SANTOMAS VIỆT NAM JSC</p><p style="margin-block-start: 0em; margin-block-end: 0em">Phần mềm đo tự động</p></label>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                    aria-expanded="false" aria-label="Toggle navigation"></button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        
                        <li class="nav-item active">
                            <form method="GET" action="/tool" class="form-inline my-2 my-lg-0">
                                <button class="btn btn-secondary btn-lg" type="submit" style="margin-right: 0.5em;">TOOLS</button>
                            </form>
                        </li>

                        <li class="nav-item active">
                            <form method="GET" action="/manager" class="form-inline my-2 my-lg-0">
                                <button class="btn btn-secondary btn-lg" type="submit" style="margin-right: 0.5em;">USERS</button>
                            </form>
                        </li>

                        <li class="nav-item active">
                            <form method="GET" action="/partData" class="form-inline my-2 my-lg-0">
                                <button class="btn btn-secondary btn-lg" type="submit" style="margin-right: 0.5em;">PART DATA</button>
                            </form>
                        </li>

                        <li class="nav-item active">
                            <form method="GET" action="/measuare" class="form-inline my-2 my-lg-0">
                                <button class="btn btn-secondary btn-lg" type="submit" style="margin-right: 0.5em;">MEASUARE</button>
                            </form>
                        </li>

                        <li class="nav-item active">
                            <form method="GET" action="/checkSheet" class="form-inline my-2 my-lg-0">
                                <button class="btn btn-secondary btn-lg" type="submit" style="margin-right: 0.5em;">CHECK SHEET</button>
                            </form>
                        </li>

                        

                    </ul>
                    
                </div>
            </nav>
        </header>
        <main>
            
            <div class="container">
                <select class="form-select" aria-label="Default select example" id="select_tool" onchange="choose_tool(this)">
                <option selected>Lựa chọn thiết bị đo</option>  
                  </select>
             
            </div>

            
            <div class="container">                               
                <div class="card">
                    
                    <div class="card-header">

                        <div class="row"> 

                            <div class="col-sm-9">
                                <form method="POST" id="partdata_form">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="true" name="qa" id="qa"  >
                                        <label class="form-check-label" for="inlineCheckbox2">QA</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="true" name="iqpc" id="iqpc" >
                                        <label class="form-check-label" for="inlineCheckbox2">IQPC</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="true" name="oqc" id="oqc">
                                        <label class="form-check-label" for="inlineCheckbox2">OQC</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="hidden" name="partId" id="partId">
                                        <input type="hidden" name=" actionPart" id="actionPart">
                                        <button type="submit" id="btt_choose" class="btn btn-success btn-sm ">OK</button>
                                        
                                    </div>
                                
                                </form>    
                            </div>

                             
                        
                         
                          
                        
                    </div>
                    </div>
                    <div class="card-body">
                        <form method="post" id="data_mesuarement">
                            <div class="col-sm-13">
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <label class="form-check-label" for="inlineCheckbox2">INJ Date</label>
                                        <input type="date" name="injDate" id="injDate">
                                    </li>
                                    <li class="list-inline-item">
                                        <label class="form-check-label" for="batch">Batch</label>
                                    </li>
                                    <li class="list-inline-item">
                                        
                                        <select class="form-select" id="batch" style="width: 100px;">
                                        <option selected>Batch</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">New batch</option>
                                        </select>
                                    </li>  
                                    <li class="list-inline-item">
                                        <label>MC</label>
                                    </li>  
                                    <li class="list-inline-item">
                                        
                                            <input type="number" id="mc" name="mc" style="width: 50px;">
                                        
                                    </li>      
                                    <li class="list-inline-item">
                                        <label>Shift</label>
                                    </li>  
                                    <li class="list-inline-item">
                                        <select class="form-select" id="shift">
                                            <option selected>Shift</option>
                                            <option value="ms">MS</option>
                                            <option value="as">AS</option>
                                            <option value="ns">NS</option>
                                            </select>
                                    </li> 
                                    <li class="list-inline-item">
                                        <label>Note</label>
                                    </li>  
                                    <li class="list-inline-item">
                                        <input type="text" id="note" name="note" style="width: 250px;">
                                    </li>    
                                    <li class="list-inline-item">
                                        <label>Temp</label>
                                    </li>  
                                    <li class="list-inline-item">
                                        <input type="text" id="temp" name="temp" style="width: 50px;">
                                    </li>  
                                    <li class="list-inline-item">
                                        <label>ºC      </label>
                                        <label>Humidity</label>
                                    </li>  
                                    <li class="list-inline-item">
                                        <input type="text" id="humidity" name="humidity" style="width: 50px;">
                                    </li>    
                                    <li class="list-inline-item">
                                        <label>%</label>
                                    </li>                      
                                </ul>
                                <input type="button" id="check" >CHECK</button>
                              </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-compact " id="part_data_table">
                                <thead>
                                    <tr>
                                        <th>Item No</th>
                                        <th>Specifications</th>
                                        <th>Tolerance</th>
                                        <th>Rance</th>
                                        <th>Fa Accepted</p>Min</th>
                                        <th>Fa Accepted</p>Max</th>                                        
                                        <th>Position</th>
                                        <th>Tool</th>
                                        <th>Judge</th>
                                        
                                        
                                    </tr>
                                </thead>
                                <tbody id="abc">
                                    
                                </tbody>
                                <tbody id="def"></tbody>
                                
                            </table>
                            
                        </div>
                        <div class="col-6 col-sm-3">
                            
                            <button type="submit" method="post" id="save_measuare" class="btn btn-secondary btn-lg" >Save</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
            
        </main>
        <footer>
            <!-- place footer here -->
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
        <!-- socket.io -->
        <script src = "../socket.io/socket.io.js"></script>
        <script>
            var socket = io("http://192.168.1.155:3000"); // IP tĩnh (hoặc IP động, hoặc localhost)
        </script>
    </body>
</html>


<script>
    
    const ip_pc = "http://192.168.1.155:3000";
    var id_select_tool;
    var row_qty;
    var qty_id_x;
    var qty_a_check_point, qty_d_check_point;

    document.getElementById('check').onclick = function(){
    // function check(){
        

        for(var row = 0; row < qty_a_check_point; row ++){
            for( var col =1; col<= qty_id_x; col ++){
                var cell = document.getElementsByName(`0.`+col+`.`+row);
                console.log(document.getElementById(`0.`+col+`.`+row+`.1`).checked);
                if(document.getElementById(`0.`+col+`.`+row+`.1`).checked === false ){
                    document.getElementById(`0.0.`+row+`.2`).checked = true;
                    
                }
                else{
                    document.getElementById(`0.0.`+row+`.1`).checked = true;
                }
            }
            
        };

        for(var row = 0; row < qty_d_check_point; row ++){
            for( var col =1; col<= qty_id_x; col ++){
                
                if(document.getElementById(`1.`+col+`.`+row).value === '' ){
                    document.getElementById(`1.0.`+row+`.2`).checked = true;
                    document.getElementById(`1.`+col+`.`+row).style.backgroundColor = "red";
                }
                
                else{
                    document.getElementById(`1.`+col+`.`+row).style.backgroundColor = "green"
                    document.getElementById(`1.0.`+row+`.1`).checked = true;
                }
            }
            
        }
    }

    function choose_tool(){
            
            id_select_tool = select_tool.value;
            
        }
        function select_all(target){

            var id_col = target.id ;
            for(var k=0 ; k <row_qty ; k++){
                document.getElementById('0.'+id_col+'.'+k+'.1').checked=true;
                
            }
        }
    $(document).ready(function(){
        load_tool();
        load_no_cav();
        load_datapart();
        load_d_data();
        
        

        function load_no_cav(){
            var urlValue= window.location.search;
            var urlParams = new URLSearchParams(urlValue);
            var id = urlParams.get('partId');
            $.ajax({
                url: ip_pc + "/measuare/measuarePart/actionPart",
                method:"POST",
                data:{partId:id, actionPart:'getOnePart'},
                dataType : "JSON",
                success:function(data){
                    qty_id_x = data.data.recordset[0].No_of_cav;
                    var html = `<tr>
                                        <th>Item No</th>
                                        <th>Specifications</th>
                                        <th>Tolerance</th>
                                        <th>Rance</th>
                                        <th>Fa Accepted</p>Min</th>
                                        <th>Fa Accepted</p>Max</th>                                        
                                        <th>Position</th>
                                        <th>Tool</th>
                                        <th>Judge</th>
                    `
                    for(var count = 1; count <= data.data.recordset[0].No_of_cav ; count ++){
                        html +=`
                             <th>  CAV`+ count+` </th>
                        `
                    }
                    html += `
                        <tr>
                    `
                    $('#part_data_table thead').html(html);
                }
            })
        }
        
        function choose_tool(){
            
            id_select_tool = select_tool.value;
        }
        function load_tool(){
            $.ajax({
                url: ip_pc + "/measuare/measuarePart/actionTool",
                method:"POST",
                data:{actionTool:'getAllTool'},
                dataType : "JSON",
                success:function(data){
                    var select = `
                    <option selected>Lựa chọn thiết bị đo</option>  
                    `;
                     
                    if(data.data.recordset.length >0){
                        for( var count = 0; count < data.data.recordset.length; count++){
                            select += `
                                <option value = "`+data.data.recordset[count].Id_Tool+`">`+data.data.recordset[count].Name_t+`</option>
                            `;
                        }
                    }
                    console.log(select);
                    $('#select_tool').html(select);
                }
            })
        }

        

        function load_datapart()
        {
            
            var urlValue= window.location.search;
            var urlParams = new URLSearchParams(urlValue);
            var id = urlParams.get('partId');
             
            
              
            $.ajax({
                url: ip_pc + "/measuare/measuarePart/actionPart",
                method:"POST",
                data:{partId:id, actionPart:'getAllPart'},
                dataType : "JSON",
                success:function(data){
                    var x =0;
                    var y =0;  
                    
                    var html1 = `
                        <tr>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            
                        
                    `;
                    for(var count = 1; count <= qty_id_x ; count ++){
                        html1 +=`
                            <td> <input type="checkbox" class="btn-check"  id=`+count+` onclick="select_all(this)">
                                    <label class="btn btn-outline-primary" for=`+count+`>ALL_OK</label><br>   
                            </td>
                        `
                    }
                        html1 +=`
                            </tr>
                            
                        `
                        for(var count = 0; count < data.data.recordset.length; count++)
                        {
                            
                            html1 += `
                            <tr>
                                <td >`+data.data.recordset[count].Item_No+`</td>                                
                                <td >`+data.data.recordset[count].Check_content+`</td>
                                <td ></td>
                                <td ></td>
                                <td ></td>
                                <td ></td>
                                <td ></td>                                
                                <td >`+data.data.recordset[count].Tool+`</td>
                                <td >
                                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    <input type="radio" class="btn-check" name="0.0.`+y+`" id="0.0.`+y+`.1" value = "true" disabled autocomplete="off" >
                                    <label class="btn btn-outline-success" for="0.0.`+y+`.1">OK</label>
                                    
                                    <input type="radio" class="btn-check" name="0.0.`+y+`" id="0.0.`+y+`.2" value ="false" disabled autocomplete="off" checked>
                                    <label class="btn btn-outline-danger" for="0.0.`+y+`.2">NG</label>
                                    </div>
                                                                       
                                </td>
                               
                            `;
                            for(var count2 = 1; count2 <= qty_id_x ; count2 ++){
                                html1 +=`
                                        <td >
                                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                            <input type="radio" class="btn-check" name="0.`+count2+`.`+y+`" id="0.`+count2+`.`+y+`.1" value="true" autocomplete="off" >
                                            <label class="btn btn-outline-success" for="0.`+count2+`.`+y+`.1">OK</label>
                                            
                                            <input type="radio" class="btn-check" name="0.`+count2+`.`+y+`" id="0.`+count2+`.`+y+`.2" value="false" autocomplete="off" checked>
                                            <label class="btn btn-outline-danger" for="0.`+count2+`.`+y+`.2">NG</label>
                                            </div>
                                                                            
                                        </td>
                                `
                            }
                                html1 +=`
                                    </tr>
                                    
                                `
                            y = y+1;        
                }
                
                //  $('#part_data_table tbody').html(html);
                row_qty = y;
                qty_a_check_point = y;
                
                $('#abc').html(html1);
                
          }});
        }
        function load_d_data(){
            var urlValue= window.location.search;
            var urlParams = new URLSearchParams(urlValue);
            var id = urlParams.get('partId');
          $.ajax({
            url: ip_pc + "/measuare/measuarePart/actionPart",
            method:"POST",
            data:{partId:id, actionPart:'getAllPartd'},
            dataType : "JSON",
            success:function(data){
                var x =0;
                var y =0;
                
                var html2 = '';      
                        for(var count1 = 0; count1 < data.data.recordset.length; count1++)
                        {
                            
                            html2 += `
                            <tr>
                                <td >`+data.data.recordset[count1].Item_No+`</td>                                
                                <td >`+data.data.recordset[count1].Geometric_Tolerance+``+data.data.recordset[count1].Specs+`</td>
                                <td >`+data.data.recordset[count1].Tolerance+`</td>
                                <td >`+data.data.recordset[count1].Lower_limit+`~`+data.data.recordset[count1].Upper_limit+`</td>
                                <td >`+data.data.recordset[count1].FA_Accepted_min+`</td>
                                <td >`+data.data.recordset[count1].FA_Accepted_max+`</td>
                                <td >`+data.data.recordset[count1].Position+`</td>
                                <td >`+data.data.recordset[count1].DimTool+`</td>
                                <td >
                                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    <input type="radio" class="btn-check" name="1.0.`+y+`" id="1.0.`+y+`.1" disabled value = "true" autocomplete="off" >
                                    <label class="btn btn-outline-success" for="1.0.`+y+`.1">OK</label>
                                    
                                    <input type="radio" class="btn-check" name="1.0.`+y+`" id="1.0.`+y+`.2" disabled value ="false" autocomplete="off" checked>
                                    <label class="btn btn-outline-danger" for="1.0.`+y+`.2">NG</label>
                                                                   
                                </td>


                                
                            `;
                            for(count=1; count<= qty_id_x ; count ++){
                                html2 +=`
                                    <td ><input type="text" class="form-control" name="1.`+count+`.`+y+`" id="1.`+count+`.`+y+`" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">                                  
                                    </td>
                                `
                            }
                            html2 +=`
                                </tr>
                            `
                            
                            y = y+1;
                            }
                            qty_d_check_point = y;
                            $('#def').html(html2);
                            console.log(qty_a_check_point);
                            console.log(qty_d_check_point);
                           
                              
                              
                        }
                         
                        
        }) 
         
            }
    

     
    })

       $('#btt_choose').click(function(){  
            var urlValue= window.location.search;
            var urlParams = new URLSearchParams(urlValue);
            var id = urlParams.get('partId');
            
            $('#actionPart').val('getAllPart');
            $('#partId').val(id);
          


        });

        $('#partdata_form').on('submit', function(event){
            var iqpc = document.getElementById('iqpc');
                if (iqpc.checked === true){
                    iqpc = '1';
                }
                else {
                    iqpc = '0';
                }
                var qa = document.getElementById('qa');
                if (qa.checked === true){
                    qa = '1';
                }
                else {
                    qa = '0';
                }
                var oqc = document.getElementById('oqc');
                if (oqc.checked === true){
                    oqc = '1';
                }
                else {
                    oqc = '0';
                }
                var urlValue= window.location.search;
                var urlParams = new URLSearchParams(urlValue);
                var id = urlParams.get('partId');
                var x =0;
                var y =0;
                $('#partId').val(id);
                event.preventDefault();
               $.ajax({
                // url:"http://localhost:3000/measuare/measuarePart/actionPart",
                url: ip_pc+"/measuare/measuarePart/actionPart",
                method:"POST",
                data:{partId:id , iqpc:iqpc , qa:qa , oqc:oqc , actionPart:'getAllParte'},
                dataType:"JSON",
                success:function(data){
                    var x =0;
                    var y =0;  
                    
                    var html1 = `
                        <tr>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            
                        
                    `;
                    for(var count = 1; count <= qty_id_x ; count ++){
                        html1 +=`
                            <td> <input type="checkbox" class="btn-check"  id=`+count+` onclick="select_all(this)">
                                    <label class="btn btn-outline-primary" for=`+count+`>ALL_OK</label><br>   
                            </td>
                        `
                    }
                        html1 +=`
                            </tr>
                            
                        `
                        for(var count = 0; count < data.data.recordset.length; count++)
                        {
                            
                            html1 += `
                            <tr>
                                <td >`+data.data.recordset[count].Item_No+`</td>                                
                                <td >`+data.data.recordset[count].Check_content+`</td>
                                <td ></td>
                                <td ></td>
                                <td ></td>
                                <td ></td>
                                <td ></td>                                
                                <td >`+data.data.recordset[count].Tool+`</td>
                                <td >
                                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    <input type="radio" class="btn-check" name="0.0.`+y+`" id="0.0.`+y+`.1" value = "true" autocomplete="off" >
                                    <label class="btn btn-outline-success" for="0.0.`+y+`.1">OK</label>
                                    
                                    <input type="radio" class="btn-check" name="0.0.`+y+`" id="0.0.`+y+`.2" value ="false" autocomplete="off" checked>
                                    <label class="btn btn-outline-danger" for="0.0.`+y+`.2">NG</label>
                                    </div>
                                                                       
                                </td>
                               
                            `;
                            for(var count2 = 1; count2 <= qty_id_x ; count2 ++){
                                html1 +=`
                                        <td >
                                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                            <input type="radio" class="btn-check" name="0.`+count2+`.`+y+`" id="0.`+count2+`.`+y+`.1" value="true" autocomplete="off" >
                                            <label class="btn btn-outline-success" for="0.`+count2+`.`+y+`.1">OK</label>
                                            
                                            <input type="radio" class="btn-check" name="0.`+count2+`.`+y+`" id="0.`+count2+`.`+y+`.2" value="false" autocomplete="off" checked>
                                            <label class="btn btn-outline-danger" for="0.`+count2+`.`+y+`.2">NG</label>
                                            </div>
                                                                            
                                        </td>
                                `
                            }
                                html1 +=`
                                    </tr>
                                    
                                `
                            y = y+1;        
                }
                
                //  $('#part_data_table tbody').html(html);
                row_qty = y;
                qty_a_check_point = y;
                
                $('#abc').html(html1);
                
          }
            });

            $.ajax({
                // url:"http://localhost:3000/measuare/measuarePart/actionPart",
                url: ip_pc+ "/measuare/measuarePart/actionPart",
                method:"POST",
                data:{partId:id , iqpc:iqpc , qa:qa , oqc:oqc , actionPart:'getAllPartf'},
                dataType:"JSON",
                success:function(data){
                var x =0;
                var y =0;
                
                var html2 = '';      
                        for(var count1 = 0; count1 < data.data.recordset.length; count1++)
                        {
                            
                            html2 += `
                            <tr>
                                <td >`+data.data.recordset[count1].Item_No+`</td>                                
                                <td >`+data.data.recordset[count1].Geometric_Tolerance+``+data.data.recordset[count1].Specs+`</td>
                                <td >`+data.data.recordset[count1].Tolerance+`</td>
                                <td >`+data.data.recordset[count1].Lower_limit+`~`+data.data.recordset[count1].Upper_limit+`</td>
                                <td >`+data.data.recordset[count1].FA_Accepted_min+`</td>
                                <td >`+data.data.recordset[count1].FA_Accepted_max+`</td>
                                <td >`+data.data.recordset[count1].Position+`</td>
                                <td >`+data.data.recordset[count1].DimTool+`</td>
                                <td >
                                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                    <input type="radio" class="btn-check" name="1.0.`+y+`" id="1.0.`+y+`.1" value = "true" autocomplete="off" >
                                    <label class="btn btn-outline-success" for="1.0.`+y+`.1">OK</label>
                                    
                                    <input type="radio" class="btn-check" name="1.0.`+y+`" id="1.0.`+y+`.2" value ="false" autocomplete="off" checked>
                                    <label class="btn btn-outline-danger" for="1.0.`+y+`.2">NG</label>
                                                                   
                                </td>


                                
                            `;
                            for(count=1; count<= qty_id_x ; count ++){
                                html2 +=`
                                    <td ><input type="text" class="form-control" name="1.`+count+`.`+y+`" id="1.`+count+`.`+y+`" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">                                  
                                    </td>
                                `
                            }
                            html2 +=`
                                </tr>
                            `
                            
                            y = y+1;
                            }
                            qty_d_check_point = y;
                            $('#def').html(html2);
                            console.log(qty_a_check_point);
                            console.log(qty_d_check_point);
                           
                              
                              
                        }
            });

            });   


    var socket = io.connect("http://192.168.1.155:3000");
    var a=1, b=0;
    
    
    socket.on('value', function(data) {
        // console.log(data);
        
        // if(data.data.length!=21){
            if(data.data.length!=20){
            console.log('Thiết bị chưa được kết nối!')
        }
        if(data.data.slice(3, 4)==id_select_tool){
        // if(data.data.length==21) {
            if(data.data.length==20) {
        console.log('1.'+a+'.'+b);
        var current_value = parseFloat(data.data.slice(8 , 19));
        
        document.getElementById('1.'+a+'.'+b).value = current_value;
        document.getElementById('1.'+a+'.'+b).style.backgroundColor = "green";
        a=a+1;
                
        if(a==5){
            b=b+1;
            a=1;
        } 
        
        }
     }});
    
</script>



