<!doctype html>
<html lang="en">
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <link href="https://cdn.datatables.net/1.12.0/css/dataTables.bootstrap5.min.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

        <script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>

        <script src="https://cdn.datatables.net/1.12.0/js/dataTables.bootstrap5.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
        <link href= "https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" rel="stylesheet">

        <title>MDM SANTOMAS VIỆT NAM</title>
        <!-- socket.io -->
        <script src = "socket.io/socket.io.js"></script>
        <script>
            var socket = io("http://192.168.1.155:3000"); // IP tĩnh (hoặc IP động, hoặc localhost)
        </script>

    </head>

    <body>
        <header>
            <!-- place navbar here -->
            <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">
                <label style="font-weight:bolder ; color: red;"><p style="margin-block-start: 0em; margin-block-end: 0em; margin-right: 1em">CÔNG TY SANTOMAS VIỆT NAM JSC</p><p style="margin-block-start: 0em; margin-block-end: 0em">Phần mềm đo tự động</p></label>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                    aria-expanded="false" aria-label="Toggle navigation"></button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        
                        <li class="nav-item active">
                            <form method="GET" action="/tool" class="form-inline my-2 my-lg-0">
                                <button class="btn btn-secondary btn-lg" type="submit" style="margin-right: 0.5em;">TOOLS</button>
                            </form>
                        </li>

                        <li class="nav-item active">
                            <form method="GET" action="/manager" class="form-inline my-2 my-lg-0">
                                <button class="btn btn-secondary btn-lg" type="submit" style="margin-right: 0.5em;">USERS</button>
                            </form>
                        </li>

                        <li class="nav-item active">
                            <form method="GET" action="/partData" class="form-inline my-2 my-lg-0">
                                <button class="btn btn-secondary btn-lg" type="submit" style="margin-right: 0.5em;">PART DATA</button>
                            </form>
                        </li>

                        <li class="nav-item active">
                            <form method="GET" action="/measuare" class="form-inline my-2 my-lg-0">
                                <button class="btn btn-secondary btn-lg" type="submit" style="margin-right: 0.5em;">MEASUARE</button>
                            </form>
                        </li>

                        <li class="nav-item active">
                            <form method="GET" action="/checkSheet" class="form-inline my-2 my-lg-0">
                                <button class="btn btn-secondary btn-lg" type="submit" style="margin-right: 0.5em;">CHECK SHEET</button>
                            </form>
                        </li>

                        

                    </ul>
                    
                </div>
            </nav>
            <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #c1cad0;">
                
                <div class="collapse navbar-collapse" id="collapsibleNavId1">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        
                        <li class="nav-item active">
                            <form  method="GET" action="/partData/PartChild" class="form-inline my-2 my-lg-0">
                                <input type="hidden" id="pc_sc" name="partId" >
                                <button class="btn btn-secondary btn-lg" id="btt_pc" type="submit" style="margin-right: 0.5em;">Part data</button>
                                

                            </form>
                        </li>

                        <li class="nav-item active">
                            <form method="GET" action="/partData/acheckpoint" class="form-inline my-2 my-lg-0">
                                <input type="hidden" id="pc_sc1" name="partId" >
                                <button class="btn btn-secondary btn-lg" type="submit" style="margin-right: 0.5em;">Appearance checkpoint</button>
                            </form>
                        </li>

                        <li class="nav-item active">
                            <form method="GET" action="/partData/bcheckpoint" class="form-inline my-2 my-lg-0">
                                <input type="hidden" id="pc_sc2" name="partId" >
                                <button class="btn btn-secondary btn-lg" type="submit" style="margin-right: 0.5em;">Dimension checkpoint</button>
                            </form>
                        </li>

                        <li class="nav-item active">
                            <form method="GET" action="/partData/revision" class="form-inline my-2 my-lg-0">
                                <input type="hidden" id="pc_sc3" name="partId" >
                                <button class="btn btn-secondary btn-lg" type="submit" style="margin-right: 0.5em;">MEASUARE</button>
                            </form>
                        </li>
                        

                    </ul>
                    
                </div>
            </nav>
            
        </header>
        <main>
            
            <div class="container"style="padding-left: 0rem; padding-right: 0rem; margin-left: 150px; margin-right: 150px;">
                <h1 class="mt-4 mb-4 text-center text-primary"><b></b></h1>
                
                <span id="message_part"></span>
                <div class="card">
                    <div class="col ">
                        <button type="button" id="editpart" class="btn btn-success btn-lg btn-primary float-end">Edit</button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-compact " id="part_data_child_table_1">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Customer</th>
                                        <th >Model</th>
                                        <th>Mold No</th>
                                        <th>Part Name</th>
                                        <th>Part No</th>
                                        <th>Die No</th>
                                        <th>Factory</th>
                                        
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-compact " id="part_data_child_table_2">
                                <thead>
                                    <tr>
                                        
                                        <th>DWGrew</th>
                                        <th>Material</th>
                                        <th>Reg</th>
                                        <th>His No</th>
                                        <th>No of CAV</th>
                                        <th>Special cavity</p> Designation</th>
                                        <th>Special </p>Cavity list</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-compact " id="part_data_child_table_3">
                                <thead>
                                    <tr>
                                        <th>Data Added</th>
                                        <th>Rev No</th>
                                        <th>Ilustation</th>
                                        <th>Apperance</p>Caution</th>
                                        <th>Measuaring</p>instruction</th>
                                        <th>Drawing File</th>
                                        <th>History File</th>
                                        
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </main>
        <footer>
            <!-- place footer here -->
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>

<div class="modal" tabindex="-1" id="partchild_action_modal" >
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <form  method="post" url="http://localhost:3000/partData/PartChild/:id/action" body="partDataJson" id="partdata_form">
                <div class="modal-header" id="partchild_dynamic_modal_title">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>    
                </div>
                <div class="modal-body" >
                    <div class="container-fluid">
                    <div class="row">
                    <div class="col-md-4">
                        <label class="visually-hidden" for="customer">Customer</label>
                        <div class="input-group">
                        <div class="input-group-text">Customer</div>
                        <input type="text" class="form-control" name="customer" id="customer" >
                    </div>
                    </div>
                    
                    <div class="col-md-4">
                        <label class="visually-hidden" for="model">Model</label>
                        <div class="input-group">
                        <div class="input-group-text">Model</div>
                        <input type="text" class="form-control" name="model" id="model" >
                    </div>
                    </div>

                    <div class="col-md-4">
                        <label class="visually-hidden" for="mold_no">Mold No</label>
                        <div class="input-group">
                        <div class="input-group-text">Mold No</div>
                        <input type="text" class="form-control" name="mold_no" id="mold_no" >
                    </div>
                    </div>
                   </div> </p>

                   <div class="row">
                    <div class="col-md-4">
                        <label class="visually-hidden" for="namepart">Name part</label>
                        <div class="input-group">
                        <div class="input-group-text">Name part</div>
                        <input type="text" class="form-control" name="namepart" id="namepart" >
                    </div>
                    </div>

                    <div class="col-md-4">
                        <label class="visually-hidden" for="part_no">Part No</label>
                        <div class="input-group">
                        <div class="input-group-text">Part No</div>
                        <input type="text" class="form-control" name="part_no" id="part_no" >
                    </div>
                    </div>

                    <div class="col-md-4">
                        <label class="visually-hidden" for="diano">Dia No</label>
                        <div class="input-group">
                        <div class="input-group-text">Dia No</div>
                        <input type="text" class="form-control" name="diano" id="diano" >
                    </div>
                    </div>
                </div></p>


                <div class="row">
                    <div class="col-md-4">
                        <label class="visually-hidden" for="reg">Reg</label>
                        <div class="input-group">
                        <div class="input-group-text">Reg</div>
                        <input type="text" class="form-control" name="reg" id="reg" >
                    </div>
                    </div>
                 
                    <div class="col-md-4">
                        <label class="visually-hidden" for="dwgrey">DWGrey</label>
                        <div class="input-group">
                        <div class="input-group-text">DWGrey</div>
                        <input type="text" class="form-control" name="dwgrey" id="dwgrey" >
                    </div>
                    </div>

                    <div class="col-md-4">
                        <label class="visually-hidden" for="material">Material</label>
                        <div class="input-group">
                        <div class="input-group-text">Material</div>
                        <input type="text" class="form-control" name="material" id="material" >
                    </div>
                    </div>
                    </div></p>

                    <div class="row">
                    <div class="col-md-4">
                        <label class="visually-hidden" for="no_of_cav">No of CAV</label>
                        <div class="input-group">
                        <div class="input-group-text">No of CAV</div>
                        <input type="text" class="form-control" name="no_of_cav" id="no_of_cav" >
                    </div>
                    </div>
                    
                    <div class="col-md-4">
                        <label class="visually-hidden" for="special_CD">Special Cavity Designation</label>
                        <div class="input-group">
                        <div class="input-group-text">Special Cavity Designation</div>
                        <input type="text" class="form-control" name="special_CD" id="special_CD" >
                    </div>
                    </div>
  
                    <div class="col-md-4">
                        <label class="visually-hidden" for="specifical_cav">Specifical CAV</label>
                        <div class="input-group">
                        <div class="input-group-text">Specifical CAV</div>
                        <input type="text" class="form-control" name="specifical_cav" id="specifical_cav" >
                    </div>
                    </div>
                </div></p>
                
                <div class="row">
                    <div class="col-md-4">
                        <label class="visually-hidden" for="rev_no">Rev No</label>
                        <div class="input-group">
                        <div class="input-group-text">Rev No</div>
                        <input type="text" class="form-control" name="rev_no" id="rev_no" >
                    </div>
                    </div>

                    <div class="col-md-4">
                        <label class="visually-hidden" for="rev_no">Ilustration</label>
                        <div class="input-group">
                        <div class="input-group-text">Ilustration</div>
                        <input type="text" class="form-control" name="ilustation" id="ilustation" >
                    </div>
                    </div>

                    <div class="col-md-4">
                        <label class="visually-hidden" for="apperance_caution">Apperance Caution</label>
                        <div class="input-group">
                        <div class="input-group-text">Apperance Caution</div>
                        <input type="text" class="form-control" name="apperance_caution" id="apperance_caution" >
                    </div>
                    </div>
                </div></p>

                <div class="row">
                    <div class="col-md-4">
                        <label class="visually-hidden" for="measuare_instruction">Measuare instuction</label>
                        <div class="input-group">
                        <div class="input-group-text">Measuare instuction</div>
                        <input type="text" class="form-control" name="measuare_instruction" id="measuare_instruction" >
                    </div>
                    </div>

                    <div class="col-md-4">
                        <label class="visually-hidden" for="drawing_file">Drawing file</label>
                        <div class="input-group">
                        <div class="input-group-text">Drawing file</div>
                        <input type="text" class="form-control" name="drawing_file" id="drawing_file" >
                    </div>
                    </div>
                    
                    <div class="col-md-4">
                        <label class="visually-hidden" for="his_file">His file</label>
                        <div class="input-group">
                        <div class="input-group-text">His file</div>
                        <input type="text" class="form-control" name="his_file" id="his_file" >
                    </div>
                    </div>
                    </div></p>

                    <div class="col-md-4" >
                        <label class="form-label">Factory</label>
                        <select  id="factory_p" name="factory_p" class="form-control">
                            <option value="SVN2">SVN2</option>
                            <option value="SVN3">SVN3</option>
                        </select>
                        
                    </div>
                </div>

                </div>

                <div class="modal-footer">
                    <input type="hidden" name="id" id="id" />
                    
                    <input type="hidden" name="actionpc" id="actionPart" value="editPart" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary " id="action_buttonpartdata" >Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    const ip_pc = "http://192.168.1.155:3000";
    $(document).ready(function(){
        // var id = window.location.pathname.slice(10);
        const urlValue= window.location.search;
        const urlParams = new URLSearchParams(urlValue);
        const id = urlParams.get('partId');
        
        $('#pc_sc').val(id);
        $('#pc_sc1').val(id);
        $('#pc_sc2').val(id);
        $('#pc_sc3').val(id);
        $('#id').val(id);
        load_datapart_child();
        function load_datapart_child()
        {
           
            $.ajax({
                // url:  "http://localhost:3000" + window.location.pathname+ "/actionpc",
                url: ip_pc + window.location.pathname+ "/actionpc",
                method:"POST",
                data:{id:id, actionpc:'getOnePart'},
                dataType : "JSON",
                success:function(data){
                    
                
                {
                    var html = '';
 
                            html += `
                            <tr>
                                <td>`+data.data.recordset[0].Part_Id+`</td>
                                <td>`+data.data.recordset[0].Customer+`</td>
                                <td>`+data.data.recordset[0].Model+`</td>                                           
                                <td>`+data.data.recordset[0].Mold_No+`</td>
                                <td>`+data.data.recordset[0].Name_part+`</td>
                                <td>`+data.data.recordset[0].Part_no+`</td>
                                <td>`+data.data.recordset[0].Dia_no+`</td>
                                <td>`+data.data.recordset[0].Factory+`</td>
                                
                            </tr>
                            `;

                    $('#part_data_child_table_1 tbody').html(html);
                }
                {    
                    var html1 = '';
 
                                html1 += `
                                <tr>
                                    <td>`+data.data.recordset[0].DWGrey+`</td>
                                    <td>`+data.data.recordset[0].Material+`</td>
                                    <td>`+data.data.recordset[0].Reg+`</td>                                           
                                    <td>`+data.data.recordset[0].His_No+`</td>
                                    <td>`+data.data.recordset[0].No_of_cav+`</td>
                                    <td>`+data.data.recordset[0].Special_Cavity_Designation+`</td>
                                    <td>`+data.data.recordset[0].Specifical_Cav+`</td>
                                    
                                </tr>
                                `;

                                $('#part_data_child_table_2 tbody').html(html1);
                            }
                            {    
                                var html2 = '';
 
                                html2 += `
                                <tr>
                                    <td>`+data.data.recordset[0].Add_date+`</td>
                                    <td>`+data.data.recordset[0].Rev_No+`</td>
                                    <td>`+data.data.recordset[0].Ilustration+`</td>                                           
                                    <td>`+data.data.recordset[0].Apperance_Caution+`</td>
                                    <td>`+data.data.recordset[0].Measure_instruction+`</td>
                                    <td>`+data.data.recordset[0].Drawing_file+`</td>
                                    <td>`+data.data.recordset[0].His_file+`</td>
                                    
                                </tr>
                                `;

                                $('#part_data_child_table_3 tbody').html(html2);

                    }

                }
            });
        }
    
    $('#editpart').click(function(){
        
                $('#partchild_dynamic_modal_title').text('Edit Part');

                $('#actionpc').val('editPart');

                $('#action_buttonpartdata').text('EditPart');

                $('#partchild_action_modal').modal('show');
                
    });
    $('#partdata_form').on('submit', function(event){
        event.preventDefault();
    $.ajax({
            //    url:  "http://localhost:3000" + window.location.pathname+ "/actionpc",
            url:  ip_pc + window.location.pathname+ "/actionpc",
                method:"POST",
                data:$('#partdata_form').serialize(),
                dataType:"JSON",
                beforeSend:function(){
                    $('#action_buttonpartdata').attr('disabled', 'disabled');
                },
                success:function(data)
                {

                    $('#action_buttonpartdata').attr('disabled', false);

                    $('#message_part').html('<div class="alert alert-success">'+data.message+'</div>');

                    $('#partchild_action_modal').modal('hide');

                    load_datapart_child();

                    setTimeout(function(){
                        $('#message_part').html('');
                    }, 5000);
                }
            });
        });

    });



    

</script>